/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 13vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

Link {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}


.nav-item.active .nav-link {
    font-weight: bold;
    border-bottom: 2px solid white; /* Customize highlight effect */
}
